* {
    margin: 0;
    padding: 0;
    --bg-s: rgba(36, 255, 0, 1);
    --bg-e: rgba(255, 130, 0, 1);
    --bg-c: rgba(255, 255, 255, 0.7);
}

a {
    text-decoration: none;
    color: var(--bg-e);
}

h1 {
    font-size: 3em;
    text-align: center;
    transition: all 0.4s;
}

h2 {
    font-size: 2em;
    text-align: center;
    transition: all 0.4s;
}

body {
    background: var(--bg-s);
    background: -webkit-linear-gradient(var(--bg-s), var(--bg-e));
    background: -o-linear-gradient(var(--bg-s), var(--bg-e));
    background: -moz-linear-gradient(var(--bg-s), var(--bg-e));
    background: linear-gradient(var(--bg-s), var(--bg-e));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.4s;
}

@media screen and (max-width:700px) {
    body {
        font-size: 12px;
    }
}

#content-wrapper {
    width: 100vw;
    max-width: 1000px;
}

header {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.heading-wrapper {
    width: 100%;
    text-align: center;
}

.heading {
    font-size: 5em;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 2px black;
}

.heading:hover {
    color: var(--bg-e);
}

menu {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

menu>a {
    font-size: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 2em;
    color: var(--bg-e);
    transition: all 0.4s;
}

menu>a:hover {
    background: var(--bg-e);
    color: rgba(255, 255, 255, 1);
}

.content {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 50vh;
    padding: 2vh 2vw;
}

.content>h1 {
    font-weight: 100;
}

.content>h1:hover {
    color: var(--bg-s)
}

@keyframes rainbow {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    32% {
        color: yellow;
    }
    48% {
        color: green;
    }
    64% {
        color: blue;
    }
    80% {
        color: indigo;
    }
    90% {
        color: violet;
    }
    100% {
        color: red;
    }
}

.content>h2 {
    font-weight: 800;
    font-style: italic;
}
