* {
    margin: 0;
    padding: 0;
    --bg-s: rgba(36, 255, 0, 1);
    --bg-e: rgba(255, 130, 0, 1);
    --bg-e-op: rgba(255, 130, 0, 0.5);
    --bg-c: rgba(255, 255, 255, 0.6);
    --c-link: rgba(51, 0, 255, 1);
    --c-link-hover: rgba(255, 0, 0, 1);
    --c-link-visited: rgba(0, 117, 255, 1);
}

body::-webkit-scrollbar {
    width: 2vw;
    position: fixed;
    background: none;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.9);
    background-color: none;
}

body::-webkit-scrollbar-thumb {
    background: black;
    outline: 5px solid slategrey;
}

html {
    background: var(--bg-s);
    background: -webkit-linear-gradient(var(--bg-s), var(--bg-e));
    background: -o-linear-gradient(var(--bg-s), var(--bg-e));
    background: -moz-linear-gradient(var(--bg-s), var(--bg-e));
    background: linear-gradient(var(--bg-s), var(--bg-e));
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.4s;
    font-weight: lighter;
}

a {
    text-decoration: none;
    font-style: italic;
    color: var(--c-link);
    transition: all 0.3s;
}

a:hover {
    color: var(--c-link-hover);
}

a:visited {
    color: var(--c-link-visited);
}

h1 {
    font-size: 3em;
    text-align: center;
    transition: all 0.4s;
}

h2 {
    font-size: 2em;
    text-align: center;
    transition: all 0.4s;
}

ul, ol, li {
    margin-left: 1vw;
    padding-left: 1vw;
}

ul {
    list-style-type: square;
}


/*
ul>li::before {
    content: "&raquo;";
    font-size: 2em;
    padding-right: 1vw;
    color: black;
}
*/

img {
    transition: all 0.4s;
}

.half-width {
    width: 50%;
}

#content-wrapper {
    width: 100vw;
    max-width: 1000px;
}

header {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.heading-wrapper {
    width: 100%;
    text-align: center;
}

.heading {
    font-size: 5em;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
    transition: all 0.5s;
    z-index: 1000;
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-text-stroke: 3px black;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.heading:hover {
    color: var(--bg-e);
}

menu {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

menu>a {
    font-size: 1.5em;
    padding: 0.5em 2em;
    /*line-height: 2em;*/
    color: var(--bg-e);
    transition: all 0.4s;
}

menu>a:hover {
    background: var(--bg-e);
    color: rgba(255, 255, 255, 1);
}

menu>a.active {
    background: var(--bg-e-op);
    color: rgba(255, 255, 255, 1);
}

.content {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.content>h1 {
    font-weight: 100;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content>h1:hover {
    color: var(--bg-s)
}

@keyframes rainbow {
    0% {
        color: red;
        letter-spacing: 1vw;
    }
    14% {
        color: orange;
        letter-spacing: 1.5vw;
    }
    28% {
        color: yellow;
        letter-spacing: 1vw;
    }
    42% {
        color: green;
        letter-spacing: 1.5vw;
    }
    56% {
        color: blue;
        letter-spacing: 1vw;
    }
    70% {
        color: indigo;
        letter-spacing: 1.5vw;
    }
    90% {
        color: violet;
        letter-spacing: 1vw;
    }
    100% {
        color: red;
        letter-spacing: 1vw;
    }
}

.content>h2 {
    font-weight: 800;
    font-style: italic;
}

.content-full-width {
    width: 100%;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-full-width.left {
    align-items: flex-start;
}

.content-full-width.center {
    align-items: center;
}

.content-full-width.right {
    align-items: flex-end;
}

.content-full-width>img:hover {
    width: 100%;
}

footer {
    background: var(--bg-c);
    margin-top: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 2vw;
    font-size: 1em;
}

img.small {
    height: 2em;
}

@media screen and (max-width:700px) {
    body {
        font-size: 12px;
    }
    ul, ol {
        font-size: 14px;
    }
    #content-wrapper {
        width: 95vw;
    }
}
